*
{
    margin:0;
    padding:0;
}
body
{
    background:#7dacda;
}
h1
{
    background:linear-gradient(white,#7dacda,white,#7dacda,white,#7dacda);
    color:black;   
}
.container
{
    margin-top:100px;
    margin-left:50px;
    display:flex;
    flex-direction: row;
}
.card
{
    background: white;
    width:200px;
    height:275px;
    border-radius: 20px;
    margin-left:25px;
}

.img1
{ 
    width:80%;
    background-image:url('E:/Photos/Web/Messi.jpg');
    background-size: contain;
    background-repeat: no-repeat;
    position: relative;
    top:20px;
    left:35px;
    
}
.img2
{ 
    width:80%;
    background-image:url('E:/Photos/Web/Messi.jpg');
    background-size: contain;
    background-repeat: no-repeat;
    position: relative;
    top:20px;
    left:35px;
    
}
.overlay 
{
    transition: all linear 1s;
    width:80%;
    opacity:0%;
     
    
    
}
.title
{
    padding-top:50px;
    text-align: center;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
 .overlay:hover
{
    opacity:100%;
    transform: scale(1.1);
    border-radius:15px ;
}
