*{
    margin:0;
    padding:0;
   box-sizing: border-box;
}
.white
{
    margin-top:50px;
    margin-left:150px;
    width:580px;
    height:390px;
    background:white;
   
    
}
.r1
{
    width:580px;
    height:30px;
    background:red;
}
.r2
{
    width:580px;
    height:30px;
    background:red;
    position:relative;
    top:30px;
}
.r3
{
    width:580px;
    height:30px;
    background:red;
    position:relative;
    top:60px;
}
.r4
{
    width:580px;
    height:30px;
    background:red;
    position:relative;
    top:90px;
}
.r5
{
    width:580px;
    height:30px;
    background:red;
    position:relative;
    top:120px;
}
.r6
{
    width:580px;
    height:30px;
    background:red;
    position:relative;
    top:150px;
}
.r7
{
    width:580px;
    height:30px;
    background:red;
    position:relative;
    top:180px;
}
img
{
    height:210px;
    position:relative;
    z-index:1;
    
}